//skygroup.jfrog.io/artifactory/api/npm/sky-npm-virtual/:_authToken=cmVmdGtuOjAxOjE4MDEyODI1OTA6V1QzbkhaVjNQZk9lbVUycTR3RlpHcmRXRWE5
registry=https://skygroup.jfrog.io/artifactory/api/npm/sky-npm-virtual/